.projects {
  flex-direction: column;
}

.links {
  display: flex;
  padding-top: 10px;
  gap: 20px;
}
.links .link {
  transition: 0.3s;
  color: var(--project-link-color);
}
.links .link a {
  color: inherit;
}
.links .link:hover {
  background-color: var(--highlight-text) !important;
  color: var(--project-title-color) !important;
}

.other-project-links {
  gap: 5px;
}

.tech-used {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: end;
  color: var(--project-link-color);
  font-size: 12px;
  gap: 15px;
}

.project-title {
  width: 100%;
}
.project-title h3 {
  font-size: 16px;
  font-weight: normal;
  color: var(--project-title-color);
  margin: 0;
}
.project-title h2 {
  font-size: 2.3em;
  font-weight: normal;
  margin: 10px 0;
}

.other-projects {
  text-align: center;
}

.other-projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 80px auto;
}
.other-projects-container .other-project {
  min-height: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--project-description-color);
  transition: transform 0.3s;
}
.other-projects-container .other-project .project-info a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.3rem;
}
.other-projects-container .other-project .other-project-description {
  font-size: 14px;
  margin-top: 15px;
  opacity: 0.8;
}
.other-projects-container .other-project:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px var(--box-shadow);
}
.other-projects-container .project-top {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.other-projects-container .file-img {
  font-size: 2.3em;
  display: flex;
  justify-content: stretch;
}
.other-projects-container .tech {
  padding: 3px;
  font-size: 0.8em;
}
.other-projects-container .project2-link {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
.other-projects-container .project2-link:hover {
  background-color: var(--border);
  color: var(--project-description-color);
}

.new-project {
  width: 100%;
  max-width: 700px;
  max-height: 60vh;
  margin: 100px auto;
  position: relative;
  background: var(--project-description-color);
  box-shadow: 0 0 10px var(--box-shadow);
  transition: box-shadow, transform 0.3s ease;
  overflow: hidden;
}
.new-project .proj-img-container {
  position: relative;
}
.new-project .proj-img-container img {
  position: relative;
  z-index: 1;
}
.new-project .proj-img-container .img-shadow {
  position: absolute;
  width: 60%;
  height: 20%;
  bottom: 20px;
  left: 30px;
  background-color: var(--border);
  opacity: 0.9;
  z-index: 0;
  filter: blur(10px);
}
.new-project img {
  display: block;
}
.new-project .start-from-left {
  left: 0;
}
.new-project .start-from-left h3, .new-project .start-from-left h4 {
  text-align: left;
}
.new-project .start-from-right {
  right: 0;
}
.new-project .start-from-right h3, .new-project .start-from-right h4 {
  text-align: right;
}
.new-project .new-project-title {
  position: absolute;
  top: 0;
  height: 90px;
  width: 40%;
  background: var(--project-description-color);
  color: var(--text);
  text-decoration: none;
  margin: 0;
  padding: 0 15px;
  flex-wrap: wrap;
  padding-top: 20px;
}
.new-project .new-project-title h3, .new-project .new-project-title h4 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  width: 100%;
}
.new-project .new-project-title h3 {
  font-size: 2em;
  white-space: nowrap;
  width: 100%;
}
.new-project .new-project-title h4 {
  font-size: 0.8em;
  position: relative;
}
.new-project .new-project-links {
  width: 40%;
  position: absolute;
  top: 90px;
  height: calc(100% - 90px);
  padding: 10px;
  background: var(--project-description-color);
  flex-wrap: wrap;
}
.new-project .new-project-links .link-container {
  width: 100%;
  gap: 10%;
  margin: 0;
  max-height: 20px;
  padding: 0;
}
.new-project .new-project-links .link-container a {
  height: 40px;
  padding: 10px;
  position: relative;
  color: var(--text);
  font-size: 0.9rem;
  gap: 10px;
  text-decoration: none;
}
.new-project .new-project-links .link-container a span {
  position: relative;
  z-index: 1;
}
.new-project .new-project-links .link-container a svg {
  position: relative;
  z-index: 1;
  font-size: 1.2rem;
}
.new-project .new-project-links .link-container a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--text);
  transition: 0.3s opacity;
  opacity: 0;
  z-index: 0;
}
.new-project .new-project-links .link-container a:hover {
  color: var(--main-background) !important;
}
.new-project .new-project-links .link-container a:hover:before {
  opacity: 1;
}
.new-project img {
  width: 100%;
}
.new-project .new-project-text {
  position: absolute;
  bottom: 0;
  width: 60%;
  height: 100%;
  background: var(--project-description-color);
  padding: 20px;
  flex-direction: column;
}
.new-project .new-project-text .tech-used {
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 5px;
  flex: 0;
}
.new-project .new-project-text .tech-used .tech {
  background: var(--section-container-bg);
  padding: 3px 5px;
  border: 1px solid var(--border);
  font-size: 0.8em;
}
.new-project .project-number {
  width: 50px;
  aspect-ratio: 1;
  background-color: var(--section-container-bg);
  position: absolute;
  top: 0;
  margin: 15px;
}
.new-project .project-number.left-number {
  left: 0;
}
.new-project .project-number.right-number {
  right: 0;
}
.new-project:hover {
  box-shadow: 0 0 30px var(--box-shadow);
}

[outertitle]:before {
  content: attr(outertitle);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--project-img-color);
  color: var(--project-description-color);
  font-weight: bold;
  font-size: 3em;
}/*# sourceMappingURL=projects.css.map */