.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.me {
  width: 100%;
  animation-delay: .3s;
  transform: translateX(0);
}

.me .second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-width: 300px;
  width: 100%;
  aspect-ratio: 1;
}

.bio-text {
  max-width: 500px;
  width: 100%;
}

.me .second .picture::before {
  content: '';
  width: 100%;
  aspect-ratio: 1;
  z-index: 1;
  border: 2px solid var(--highlight-text);
  position: absolute;
  top: 15px;
  left: 15px;
  transition: transform 0.3s;
  transform: translate(0, 0);
  z-index: 0;
}

.me .second .picture {
  border: 2px solid var(--highlight-text);
  width: 100%;
  aspect-ratio: 1;
  position: relative;
}

.me .second .picture:hover:before {
  transform: translate(-5px, -5px);
}

.me {

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    z-index: 0;
  }

  .profile-overlay {
    background: var(--profile-overlay);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: opacity 0.5s ease;
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }


  h2 {
    font-size: 3rem;
    margin-left: 1rem;
  }
}

.navigate_btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}