.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.me {
  width: 100%;
}

.me .second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-width: 300px;
  width: 100%;
  aspect-ratio: 1;
}

.bio-text {
  max-width: 500px;
  width: 100%;
}

.me .second .picture::before {
  content: '';
  width: 100%;
  aspect-ratio: 1;
  z-index: 1;
  border: 2px solid rgb(255, 247, 0);
  position: absolute;
  top: 15px;
  left: 15px;
  transform: translate(0, 0);
}

.me .second .picture {
  transform: translate(0, 0);
  padding: 10px;
  width: 100%;
  aspect-ratio: 1;
  background: rgb(255, 221, 0);
  position: relative;
}

.me .second .picture:hover:before {
  transform: translate(-5px, -5px);
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 20px;
  margin-left: 10px;
  list-style: none;
}

.skills li {
  list-style: none;
  color: rgba(255, 230, 0, 0.513);
}

.skills li::before {
  content: "\25A1";
  color: var(--text);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.me {


  h2 {
    font-size: 3rem;
    margin-left: 1rem;
  }
}