.add-project-form {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-areas: 
        "imgPreview imgPreview"
        "projName type"
        "gitLink mainLink"
        "stack stack"
        "description progress"
        "description image"
        "submit submit";
    grid-gap: 20px;


    img {
        grid-area: imgPreveiw;
    }

    #name-container {
        grid-area: projName;
    }
    #type-container {
        grid-area: type;
    }
    #gitLink-container {
        grid-area: gitLink;
    }
    #mainLink-container {
        grid-area: mainLink;
    }
    #stack-container {
        grid-area: stack;
    }
    #description-container {
        grid-area: description;
        grid-row: 100px;
    }
    #image-container {
        grid-area: image;
        height: 80px;
    }
    #progress {
        grid-area: progress;
    }



    .project-input {
        width: 100%;
        display: block;
        padding: 10px 20px;
        background-color: var(--project-description-color);
        border: none;
        color: var(--text)
    }

    img {
        width: 100%;
    }
    
    label {
        margin: 20px;
        color: var(--border);
    }

    textarea {
        height: 100px;
    }

    button {
        width: 70%;
        height: 50px;
        margin: auto;
        color: white;
        background-color: black;
        grid-area: submit;

        span {
            height: 30px;
            width: 30px;
            display: inline-block;
            margin-right: 20px;
            border-radius: 50%;
            border: 5px solid black;
            border-top: 5px solid white;
            animation: rotate 0.5s infinite forwards ease-out;
        }

        @keyframes rotate {
            from {
                transform: rotate(1turn)
            }
            to {
                transform: rotate(0deg)
            }
        }
    }
}