.box {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.background-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: -2;
    opacity: 1;
    transition-duration: 2s;
    pointer-events: none;
}
  
.content {
    position: relative;
    background-color: var(--project-description-color);
    padding: 5em;
    animation: change-opacity 6s infinite alternate;
}
  