.bg-text {
  position: absolute;
  bottom: 10px;
  font-size: 24vh;
  font-weight: bolder;
  color: var(--bg-text-color);
  user-select: none;
  pointer-events: none;
}

.bg-text-left {
  left: 8%;
}

.bg-text-right {
  right: 8%;
}