.bg-text {
  position: absolute;
  bottom: 10px;
  font-size: 120px;
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 1px var(--border);
  user-select: none;
  pointer-events: none;
}

.bg-text-left {
  left: 8%;
}

.bg-text-right {
  right: 8%;
}