.bg-text {
  position: absolute;
  bottom: 10px;
  font-size: 24vh;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.05);
  user-select: none;
  pointer-events: none;
}

.bg-text-left {
  left: 8%;
}

.bg-text-right {
  right: 8%;
}