
  .btn {
    margin: auto;
    width: 70%;
    height: 60px;
    background-color: var(--task-bar-bg);
    color: var(--text);
    position: relative;
    font-size: 20px;
    overflow: hidden;
  }
  
  .btn span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .btn:hover span {
    color: var(--main-background);
  }

  .btn span {
    color: var(--text);
    transition: none;
  }

  .btn span i {
    margin-left: 1em;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--text);
    color: var(--main-background);
    top: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
  }
  
  .btn:hover::before {
    transform: scaleX(100%);
  }
  