.contact {
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;

    h2 {
        font-size: 50px;
    }
}

.whats-next {
    

    .title {
        right: auto !important;
    }
}

.whats-next.section {
    margin-bottom: 0 !important;
    padding-bottom: 15%;
}