@media (min-width: 771px) {

    .thin-content {
        transform: translateX(-100%);
        pointer-events: none;
    }
    
    .go-back-btn {
        right: 120%;
    }

    .current-section:hover {
        transform: translate(-10px, -50%) scale(1);
    }

    .change-color {
        left: 0;
    }
}