.moving-background {
    width: 100%;
    height: calc(100% + 200px);
    top: 0;
    background: grey;
    overflow: hidden;
    position: absolute;

    .box-bg {
        position: absolute;
        left: 50%;
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
    }

    .first-box-bg {
        background-color: var(--moving-bg-box1);
    }

    .second-box-bg {
        background-color: var(--moving-bg-box2);
    }

    .third-box-bg {
        background-color: var(--moving-bg-box3);
    }

    .fourth-box-bg {
        background-color: var(--moving-bg-box4);
    }
}