.links {
    display: flex;
    padding-top: 10px;
    gap: 20px;

    .link {
        transition: 0.3s;
        color: var(--project-link-color);

        a {
            color: inherit;
        }

        &:hover {
            color: var(--text);
        }
    }
}
    
.tech-used {
    display: flex;
    flex-wrap: wrap;
    width: 200%;
    color: var(--project-link-color);
    font-size: 12px;
    gap: 15px;
}

.project-title {
    width: 100%;

    h3 {
        font-size: 16px;
        font-weight: normal;
        color: var(--project-title-color);
        margin: 0;
    }

    h2 {
        font-size: 2.3em;
        font-weight: normal;
        margin: 10px 0;
    }
}

.projects {
    
    .projects-text {
        font-weight: bold;
        text-align: center;
        color:var(--project-text-color);
        font-size: 3rem;
    }

    .archive-link {
        margin-top: 25px;
    }
}

.project-description {
    font-size: 14px;
    color: var(--project-link-color)
}

.other-projects {
    text-align: center;
}

.other-projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 80px auto;

    .other-project {
        min-height: 300px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        box-shadow: 0 0 8px var(--box-shadow);
        background-color: var(--project-description-color);
        position: relative;
        top: 0;
        transition: top 0.3s;
        

        h2 {
            font-weight: normal;
        }

        .other-project-description {
            font-size: 14px;
            margin-top: 15px;
        }

        &:hover {
            top: -10px;
            box-shadow: 0 0 15px var(--box-shadow);
        }
    }

    .project-top {
        min-height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .file-img {
        font-size: 2.3em;
        display: flex;
        justify-content: stretch;
    }
}

.new-project {
    width: 100%;
    max-width: 700px;
    margin: 20px auto 100px;
    position: relative;
    background: var(--project-description-color);
    box-shadow: 0 0 10px var(--box-shadow);
    transition: box-shadow 0.3s;
    overflow: hidden;

    .start-from-left {
        left: 0;
        transform-origin: left;

        h3, h4 {
            text-align: left;
        }
    }

    .start-from-right {
        right: 0;
        transform-origin: right;

        h3, h4 {
            text-align: right;
        }
    }


    .new-project-title {
        position: absolute;
        top: 0;
        height: 90px;
        width: 40%;
        background: var(--project-description-color);
        margin: 0;
        padding: 0 15px;
        transform: scaleX(0);
        transition: transform 0.3s;
        flex-wrap: wrap;
        padding-top: 20px;

        h3, h4 {
            font-weight: normal;
            padding: 0;
            margin: 0;
            width: 100%;
        }

        h3 {
            font-size: 2em;
            white-space: nowrap;
            width: 100%
        }

        h4 {
            font-size: 0.8em;
            position: relative;
        }
    }


    .new-project-links {
        width: 40%;
        position: absolute;
        top: 90px;
        height: calc(100% - 90px);
        padding: 10px;
        background: var(--project-description-color);
        transform-origin: bottom;
        transform: scaleY(0);
        transition: transform 0.3s;
        flex-wrap: wrap;


        .link-container {
            width: 100%;
            font-size: 1.5em;
            gap: 10%;
            margin: 0;
            max-height: 20px;
            padding: 0;

            a {
                height: 40px;
                width: 40px;
                padding: 10px;
                position: relative;
                color: var(--text);

                svg {
                    position: relative;
                    z-index: 1;
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: var(--text);
                    transition: 0.3s opacity;
                    opacity: 0;
                    z-index: 0;
                }

                &:hover {
                    color: var(--main-background) !important;

                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        img {
            opacity: 0;
            transition: opacity 0.3s;
        }
    }


    img {
        width: 100%;
    }

    .new-project-text {
        position: absolute;
        flex-direction: column;
        bottom: 0;
        width: 60%;
        height: 100%;
        background: var(--project-description-color);
        padding: 20px;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s;

        .tech-used {
            margin: 0;
            padding: 0;
            width: 100%;
            gap: 5px;

            .tech {
                background: rgba(0, 0, 0, 0.1);
                padding: 3px 5px;
                border: 1px solid var(--border);
                font-size: 0.8em;
            }
        }
    }

    .project-number {
        width: 50px;
        aspect-ratio: 1;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        margin: 15px;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.3s;
    }

    &:hover {
        box-shadow: 0 0 30px var(--box-shadow);

        .new-project-text {
            transform: scaleY(1);
        }

        .new-project-title {
            transform: scaleX(1);
        }

        .new-project-links {
            transform: scaleY(1);

            img {
                opacity: 1;
            }
        }

        .project-number {
            transform: scaleY(1);
        }

        .progress-box {
            opacity: 0;
        }
    }
}

.progress-box {
    min-width: 50px;
    padding: 10px;
    background-color: var(--project-description-color);
    color: var(--text);
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 15px;
    opacity: 1;
    transition: opacity 0.3s;
    text-transform: capitalize;
    font-size: 0.8rem;

    .status {
        aspect-ratio: 1;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
    }

    .finished {
        background-color: rgb(77, 255, 77);
        box-shadow: 0px 0px 5px rgb(118, 255, 118);
    }
    
    .ongoing {
        background-color: rgb(255, 94, 0);
        box-shadow: 0px 0px 5px rgb(255, 94, 0);
    }
}

[outertitle]:before {
    content: attr(outertitle);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--project-img-color);
    color: var(--project-description-color);
    font-weight: bold;
    font-size: 3em;
}