
@media (max-width: 770px) {
  html, body {

      .section {
        padding: 50px 5%;
      }
    
      .introduction {
          margin: 100px auto;
          border: 1px solid var(--border);
      }
    
     .lets-connect{
        max-width: 300px;
        width: 100%;
        margin: 30px auto;
     }
     
     .about p, .about, .second {
          width: 100%;
      }
    
      .intro-title {
          left: 10px;
      }
    
      .task-bar, .socials, .bg-text, .for-others {
          display: none !important;
      }
    
      h1 {
          font-size: 20px;
      }
    
      .about h2 {
          margin-top: 20px;
          font-size: 35px;
      }
    
      .profile-image {
          margin: 20px;
      }
    
      .for-phone {
        display: flex !important;
      }
    
      .project {
        background-color: rgba(0, 0, 0, 0.344);
        
        .project-info {
            position: relative;
            width: 100%;
            text-align: left;
            align-items: flex-start !important;
            justify-content: space-between !important;
    
            .project-description, .tech-used {
                background-color: transparent;
                box-shadow: none;
                padding-left: 0;
                width: 100%;
            }
    
            .tech-used, .links {
                justify-content: flex-start !important;
            }
    
            .tech, .links .link {
                margin: 0 10px 0 0 !important;
            }
        }
    
        .project-img {
            width: 100%;
        }
    
      }
    
      
      .other-projects-container {
        padding: 0px 10%;
    }
  }
}

@media (max-width: 500px) {
  html, body {


    .introduction {
        border-bottom: none;
    }

    .other-projects-container {
      padding: 0;
    }

    .menu {
      width: 100%;
      align-items: center;

      p, li {
        width: 100%;
        text-align: center;
      }
    }
  }
}