
@media (max-width: 770px) {
  .introduction {
      margin: auto 100px;
  }
  .about p, .profile-image .btn {
      width: 100%;
  }

  .intro-title {
      left: 10px;
  }

  .task-bar, .socials {
      display: none;
  }

  h1 {
      font-size: 20px;
  }

  .bg-text {
      font-size: 90px;
  }

  .about h2 {
      margin-top: 20px;
      font-size: 35px;
  }

  .profile-image {
      margin: 20px;
  }

  .about, .profile-image {
      width: 100%;
  }

  .for-phone {
    display: flex !important;
  }

  .for-others {
    display: none !important;
  }

  .section {
    padding: 100px 7%;
  }

  .project {
    background-color: rgba(0, 0, 0, 0.344);
    
    .project-info {
        position: relative;
        width: 100%;
        text-align: left;
        align-items: flex-start !important;

        .project-description, .tech-used {
            background-color: transparent;
            box-shadow: none;
            padding-left: 0;
            width: 100%;
        }

        .tech-used, .links {
            justify-content: flex-start !important;
        }
    }

    .project-img {
        width: 100%;
    }
  }
}

@media (max-width: 420px) {
  .picture {
    width: 150px !important;
    height: 150px !important;
  }
}