@media (max-width: 770px) {
  html .section, body .section {
    padding: 5%;
  }
  html .introduction, body .introduction {
    margin: 100px auto;
    border: 1px solid var(--border);
  }
  html .lets-connect, body .lets-connect {
    width: 100%;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html .about p, html .about, html .second, body .about p, body .about, body .second {
    width: 100%;
  }
  html .intro-title, body .intro-title {
    left: 10px;
  }
  html .intro .info .lets-connect, body .intro .info .lets-connect {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  html .task-bar, html .socials, html .bg-text, html .for-others, body .task-bar, body .socials, body .bg-text, body .for-others {
    display: none !important;
  }
  html h1, body h1 {
    font-size: 20px;
  }
  html .about p, body .about p {
    padding: 15px;
    text-align: left;
  }
  html .about h2, body .about h2 {
    margin-top: 20px;
    font-size: 35px;
  }
  html .profile-image, body .profile-image {
    margin: 20px;
  }
  html .for-phone, body .for-phone {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  html .project, body .project {
    background-color: rgba(0, 0, 0, 0.344);
  }
  html .project .project-info, body .project .project-info {
    position: relative;
    width: 100%;
    text-align: left;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  html .project .project-info .project-description, html .project .project-info .tech-used, body .project .project-info .project-description, body .project .project-info .tech-used {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-left: 0;
    width: 100%;
  }
  html .project .project-info .tech-used, html .project .project-info .links, body .project .project-info .tech-used, body .project .project-info .links {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  html .project .project-info .tech, html .project .project-info .links .link, body .project .project-info .tech, body .project .project-info .links .link {
    margin: 0 10px 0 0 !important;
  }
  html .project .project-img, body .project .project-img {
    width: 100%;
  }
  html .project .project-img:after, body .project .project-img:after {
    background-color: rgba(67, 59, 0, 0.8);
  }
  html .other-projects-container, body .other-projects-container {
    padding: 0px 10%;
  }
}

@media (max-width: 500px) {
  html .introduction, body .introduction {
    border-bottom: none;
  }
  html #intro.section, body #intro.section {
    padding: 0;
  }
  html .other-projects-container, body .other-projects-container {
    padding: 0;
  }
  html .menu, body .menu {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html .menu p, html .menu li, body .menu p, body .menu li {
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=smallerDevice.css.map */