
  .socials {
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 20px;
    height: 35%;
    width: 50px;
    color: var(--border);
    font-size: 1.1em;
    transform: translateY(0);
    transition: transform 0.3s;


    .social {
      margin-bottom: 10px;

      &:hover {
        transform: translateY(-5px);
      }

      i{
        transition: 0s;
        top: 3px;
      }
    }
  }

  .hide-socials {
    transform: translateY(100%);
  }