
  .socials {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    bottom: 0;
    left: 20px;
    min-height: 35%;
    width: 50px;
    color: var(--border);
    font-size: 1.1em;
    transform: translateY(0);
    transition: transform 0.3s;


    .social {
      width: 30px;
      color: inherit;


      &:hover {
        transform: translateY(-5px);
      }

      i{
        transition: 0s;
        top: 3px;
      }
    }
  }

  .hide-socials {
    transform: translateY(100%);
  }