.task-bar {
    width: 100%;
    height: 30px;
    background-color: var(--task-bar-bg);
    border-bottom:1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .task-bar .dot {
    height: 12px;
    width: 12px;
    margin-right: 15px;
    background-color: var(--face-borders);
  }