@media (min-width: 771px) {

    .thin-content {
        transform: translateX(-100%);
        pointer-events: none;
    }
    
    .go-back-btn {
        right: 120%;
    }
  
    .current-section:hover {
        transform: translate(-10px, -50%) scale(1);
    }
  
    .change-color {
        left: 0;
    }
  }
  
  html {
    padding: 2px;
  }
  
  @media (max-width: 770px) {
    html, body {
      
        .section {
          padding: 5%;
          margin-bottom: 200px;
          padding-top: 100px;
  
  
          .section-header {
            font-size: 2.5em;
          }
  
          &:after {
            height: 1px;
            transform: scaleX(1);
          }
        }
  
        .show-menu .go-back-btn {
          right: 0;
        }
  
        .menu-item .active::before {
            transform: scaleX(1);
        }
      
        .introduction {
          margin: 100px auto;
          border: 1px solid var(--border);
        }
      
       .lets-connect {
          width: 100%;
          margin: 30px auto;
          display: flex;
          justify-content: center;
       }
       
       .about p, .about, .second {
            width: 100%;
        }
      
        .intro-title {
            left: 10px;
        }
  
        .intro .info .lets-connect {
          justify-content: center;
          width: 100%;
        }
  
        .footer {
          flex-direction: column;
          padding: 30px 0;
          text-align: center;
        }
        .whats-next {
          padding-bottom: 200px !important;
        }
      
        .socials {
          position: relative;
          flex-direction: row;
          justify-content: center;
          left: 0;
          width: 100%;
          gap: 30px;
          margin: 30px 0;
  
          .line {
            width: 100%;
            height: 1px;
          }
        }
  
        .task-bar, .bg-text, .for-others, .pseudo-page, .disable-dynamic-bg {
            display: none !important;
        }
  
        .menu {
  
          &:before {
            backdrop-filter: blur(5px);
          }
  
          p {
            font-size: 1.5rem !important;
            
            &:before {
              opacity: 0;
            }
          }
        }
      
        h1 {
            font-size: 20px;
        }
  
        .about p {
          padding: 15px;
          text-align: left;
          
          &:before {
            opacity: 0.5;
          }
        }
      
        .about h2 {
            margin-top: 20px;
            font-size: 35px;
        }
      
        .profile-image {
            margin: 20px;
        }
      
        .for-phone {
          display: flex !important;
        }
      
        .new-project {
          gap: 0;
          margin: 50px 0;
          position: relative;
  
          .new-project-text {
            padding-top: 0;
          }
  
          .proj-img, .project-number {
            display: none;
          }
  
          .new-project-bg-img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            object-fit: cover;
            opacity: 0.1 !important;
          }
  
          .new-project-title, .new-project-links, .new-project-text {
            position: relative;
            transform: scale(1);
            width: 100%;
            top: 0;
            z-index: 1;
            background-color: transparent;
          }
  
          .new-project-title {
            margin-bottom: 10px;
  
            h3, h4 {
              text-align: left;
            }
          }
        
          .new-project-links {
            gap: 20px;
            padding: 0;
            margin: 0;
  
            .link-container {
              justify-content: flex-start;
              padding: 20px;
              gap: 10px;
            }
          }
  
          img {
            opacity: 1 !important;
          }
  
          &:before {
            display: none;
          }
        }
        
        .other-projects-container {
          padding: 0px 10%;
      }
  
      .change-color {
        right: 0 !important;
      }
  
      .site-logo {
        left: 10px;
      }
    }
  }
  
  @media (max-width: 500px) {
    html, body {
      p {
        font-size: 0.8rem !important;
      }
  
      button {
        font-size: 1rem !important;
      }
  
      .title {
        font-size: 1.5rem;
        top: -30px;
      }
  
      .title span {
        font-size: 1.3rem;
        padding: 0;
      }
  
      h2 {
        font-size: 1.5rem !important;
      }
  
      .about h2 {
        font-size: 2rem !important;
      }
  
      .introduction {
        border-bottom: none;
      }
  
      #intro.section {
        padding: 0;
      }
  
      .other-projects-container {
        padding: 0;
      }
      
      .section .title .title-content {
        transform: translate(10px, -10px) !important;
      }
  
      .skill {
        width: 100% !important;
      }
  
      .menu {
        width: 100%;
        align-items: center;
  
        p, li {
          width: 100%;
          text-align: center;
        }
      }
    }
  }